In [ ]:
Mutable:
    list 
    dict 
    set
Immutable :
    str
    tuple
    int 
    float
    bool
    byte

In [ ]:
s ="s"
l = [10,20,30,50,60,70]

In [1]:
s1 = "python"
s1 = "java"
print(s1)

java

In [ ]:
id
type

In [ ]:
is == operator

In [2]:
l = [10,20,30]
l2 = [10,20,30]
l.append(40)
print(id(l),id(l2))

1874506906760 1874506906824

In [3]:
l = [10,20,30]
l2 = l
print(id(l),id(l2))

1874506790536 1874506790536

In [6]:
print(5 in None)

TypeError: argument of type 'NoneType' is not iterable

In [ ]:
iterable :
    list
    set
    dict 
    tuple 
    str

In [7]:
s = "Python sample string"
for value in s:
    print(value)

P
y
t
h
o
n

s
a
m
p
l
e

s
t
r
i
n
g

In [8]:
for value in 100:
    print(value)

TypeError: 'int' object is not iterable

In [ ]:
str => char 
list => elements 
tuple => elements
dict => keys
set => elements

In [9]:
d = {1:1,2:4,3:9}
for x in d:
    print(x)

1
2
3

In [24]:
l = ''
if "":
    print("Python")
else:
    print("Java")

Java

In [ ]:
[0.5,0.10,0.15,0.20...0.5]

In [25]:
print(list(range(0.5,0.55,0.5)))

TypeError: 'float' object cannot be interpreted as an integer

In [27]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [ ]:
[100,95,90,...,80]

In [28]:
print(list(range(100,75,-5)))

[100, 95, 90, 85, 80]

In [30]:
for value in [10,20,30]:
    print(value)

else:
    print("Going to else block")

10
20

In [36]:
s = "Python sample string"
print(s[5::-1])

nohtyP

In [34]:
s = "Python sample string"
print(s[::-2])

git lmsnhy

In [43]:
l = [10,20,30,["Python","Java","C",[100,200,300]]]
print(l[-1][-4:-1:2])

['Python', 'C']

In [48]:
l = [10,20,30,40,50]
for t in enumerate(l):
    print(t)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)

In [ ]:
for i = 0; i< 10 ; i++
    for j = 2;j < 50 ;j ++:

In [52]:
x = 10,20,30,40,"Python"
print(x)

(10, 20, 30, 40, 'Python')

In [ ]:
List :
    append 
    extend
    insert 
    
Update :
    l[index] = value
    
Delete:
    pop
    remove 
    clear 
    del

In [54]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [65]:
l1 = [10,20,30,40]
l1.append("Python")
print(l1)

# l1.insert(-1,600)
# print(l1)

[10, 20, 30, 40, 'Python']
[10, 20, 30, 40, 600, 'Python']

In [ ]:
l = [2,1,2,3]
r = l.pop(2)
print(l)

# l.remove(2)
# print(l)

In [ ]:
for 

while

In [ ]:
while (condition) => True/ False

In [ ]:
3 11
12 13 14 ....

In [71]:
num = 50
# even = / 2 
# odd = *3 +1 
while(num > 1):
    if num %2 == 0:
        num = num // 2
        print(num)
    else:
        num = (num *3)+1
        print(num)

25
76
38
19
58
29
88
44
22
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1

In [74]:
s = "Programming"
l = []
for value in s:
    if s.count(value)> 1 and value not in l:
        l.append(value)
print(l)

['r', 'g', 'm']

In [75]:
s1 = "mary"
s2 ="army"

['P', 'y', 't', 'h', 'o', 'n']

In [77]:
c ='a'
print(ord(c))
print(chr(97))

97
a

In [78]:
s = "Python"
s2 = s.replace("P","p")
print(s2)

python

In [81]:
s1 = "abcde"
s2 = "ABCDE"

t = str.maketrans(s1,s2)
print(t)

s1 = s1.translate(t)
print(s1)

{97: 65, 98: 66, 99: 67, 100: 68, 101: 69}
ABCDE

In [1]:
r = [10,20,30,40]
[10][20][30][40]
[10,20]

100